	/*
  	Flaticon icon font: Flaticon
  	Creation date: 30/04/2019 07:09
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticond41d.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Flaticon.woff2") format("woff2"),
       url("../fonts/Flaticon.woff") format("woff"),
       url("../fonts/Flaticon.ttf") format("truetype"),
       url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: inherit;
font-style: normal;
}

.flaticon-cooking:before { content: "\f100"; }
.flaticon-champagne-glass:before { content: "\f101"; }
.flaticon-fork:before { content: "\f102"; }
.flaticon-dish:before { content: "\f103"; }
.flaticon-coffee-cup:before { content: "\f104"; }
.flaticon-restaurant-cutlery-circular-symbol-of-a-spoon-and-a-fork-in-a-circle:before { content: "\f105"; }
.flaticon-coffee-cup-1:before { content: "\f106"; }
.flaticon-hamburger:before { content: "\f107"; }
.flaticon-serving-dish:before { content: "\f108"; }
.flaticon-cheers:before { content: "\f109"; }
.flaticon-fast-food:before { content: "\f10a"; }
.flaticon-fish:before { content: "\f10b"; }
.flaticon-menu:before { content: "\f10c"; }
.flaticon-fruit:before { content: "\f10d"; }
.flaticon-cocktail:before { content: "\f10e"; }
.flaticon-cutlery:before { content: "\f10f"; }
.flaticon-guitar:before { content: "\f110"; }
.flaticon-easter-egg:before { content: "\f111"; }
.flaticon-chef:before { content: "\f112"; }
.flaticon-tray:before { content: "\f113"; }
.flaticon-birthday-cake:before { content: "\f114"; }
.flaticon-restaurant:before { content: "\f115"; }
.flaticon-cheers-1:before { content: "\f116"; }
.flaticon-restaurant-1:before { content: "\f117"; }
.flaticon-chef-1:before { content: "\f118"; }
.flaticon-chair:before { content: "\f119"; }
.flaticon-pizza:before { content: "\f11a"; }
.flaticon-sandwich:before { content: "\f11b"; }
.flaticon-fish-1:before { content: "\f11c"; }
.flaticon-dessert:before { content: "\f11d"; }
.flaticon-beer:before { content: "\f11e"; }
.flaticon-dish-1:before { content: "\f11f"; }
.flaticon-open:before { content: "\f120"; }
.flaticon-chicken:before { content: "\f121"; }
.flaticon-chicken-1:before { content: "\f122"; }
.flaticon-order:before { content: "\f123"; }
.flaticon-food:before { content: "\f124"; }
.flaticon-breakfast:before { content: "\f125"; }
.flaticon-lemon:before { content: "\f126"; }
.flaticon-dinner:before { content: "\f127"; }
.flaticon-turkey:before { content: "\f128"; }
.flaticon-dinner-1:before { content: "\f129"; }
.flaticon-plate:before { content: "\f12a"; }
.flaticon-dinner-2:before { content: "\f12b"; }
.flaticon-dinner-3:before { content: "\f12c"; }
.flaticon-fast-food-1:before { content: "\f12d"; }
.flaticon-burger:before { content: "\f12e"; }
.flaticon-burguer:before { content: "\f12f"; }
.flaticon-popcorn:before { content: "\f130"; }
.flaticon-macarons:before { content: "\f131"; }
.flaticon-ice-cream:before { content: "\f132"; }
.flaticon-icecream:before { content: "\f133"; }
.flaticon-cooking-1:before { content: "\f134"; }
.flaticon-cooking-2:before { content: "\f135"; }
.flaticon-frying-pan:before { content: "\f136"; }
.flaticon-fried-egg:before { content: "\f137"; }